/* Css ito ng home page */
.header {
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
    height: 100px;
    cursor: pointer;
    margin-right: 20px;
}

.search {
    --padding: 14px;
    width: max-content;
    display: flex;
    align-items: center;
    padding: var(--padding);
    border-radius: 28px;
    background: #f6f6f6;
	width: 600px;
}

.search-input {
    font-size: 16px;
    font-family: sans-serif;
    color: #333333;
    margin-left: var(--padding);
    outline: none;
    border: none;
    background: transparent;
	flex: 1;
}

.search-input::placeholder {
	color: rgba(0, 0, 0, 0.5);
}